header {
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	color: #FFFFFF;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}

.logo {
	background-image: url("images/logo.png");
	/*float: left;*/
	/* border: 2px solid red; */
	margin-left: 20px;
	margin-bottom: 20px;
	height: 50%;
	width: 80px;
}
